div.container {
	margin: 0 auto;
	text-align: center;
	width: 400px;

	height: 500px;
	box-sizing: border-box;
	box-shadow: 0 11px 30px rgba(0,0,0 ,0.30), 0 8px 30px rgba(0,0,0,0.22);
	margin-top: 60px;
}



input {
	font-size: 20px;
	background: rgb(200  150 100);

}


button {
	font-size: 2em;
	font-weight: bold;
	width: 130pz;
	height: 50px;
	background: transparent;
	border: 2px solid black;
outline: none;
}

.result {
	font-size: 30px;
	margin-top: 1%px;
	padding-top: 120px;
}

.result{

	color:  rgba(150,100,69);
	background: rgba(0, 0, 0, 0.30);
}
